
#inventory-wrapper{
	font-family: 'arial';
	font-size: 12px;
	letter-spacing: .9px;
	line-height: 16px;
	margin: 1% auto;
	position: relative;
	max-width: 920px;
	padding: 1%;
	background-color: #adadad;
	width: 98%;
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
#inventory-wrapper a:visited{
    color: #4B4F53;
}
#inventory-wrapper .inventory-vehicle-title a:visited{
	color: #FFF;
}
#inventory-listing{
	display: block;
	clear: both;
	float: none;
	overflow: hidden;
	width: 100%;
}
.breadcrumbs{
	display: block;
	float: none;
	clear: both;
	width: 94%;
	background-color:#FFF;
	padding: 0 1%;
	line-height: 150%;
	font-weight: bold;
	color: #4B4F53;
	margin: 0 auto;
}
.breadcrumbs a{
	color: #D72A19;
}

#inventory-quick-links {
	background-color: #494D51;
	color: #FFF;
	font-family: 'arial';
	font-size: 12px;
	letter-spacing: .9px;
	line-height: 16px;
	margin: 0;
	padding: 1%;
	width: 98%;
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
.quick-link-wrap{
	display: block;
	float: left;
	overflow: hidden;
}
#inventory-quick-selects{
	display: block;
	float: left;
	overflow: hidden;
}
#inventory-quick-search{
	display: block;
	float: right;
	overflow: hidden;
}
#inventory-quick-links select {
	margin-right: 10px;
	max-width: 146px;
}

#inventory-search-box {
	border: none;
	height: 21px;
	padding: 0px 0 2px 25px;
	width: 234px;
}
#inventory-search-submit {
	background-color: #D72A19;
	border: none;
	color: #FFF;
	cursor: pointer;
	height: 21px;
	line-height: 10px;
	margin-right: 5px;
	position: relative;
	width: 28px;
	display: inline;
	padding: 4px 2px;
	right: 5px;
	top: 1.5px;
	font-weight: bold;
}
#inventory-search-wrapper{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
}
#inventory-advance-show{
	display: block;
	float: none;
	background-color: #D72A19;
	color: #FFF;
	width: 14%;
	font-size: 90%;
	padding: 0 1%;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 2px solid #FFF;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	line-height: 140%;
	font-weight: bold;
}
#inventory-advance-show:hover{
	color: #D72A19;
	background-color: #FFF;
}
#inventory-search-advance{
	clear: both;
	float: none;
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
	padding: 1%;
	background-color: #4B4F53;
	font-size: 0.9em;
	line-height: 1.2em;
}
.inventory-label{
	color: #FFF;
}
.inventory-advance-param {
	width: 22%;
	float: left;
	padding: 0 2% 1%;
	min-width: 206px;
	margin: 0 3% 0;
}
.inventory-advance-param span{
	color: #FFF;
	margin-left: 2%;
	font-style: italic;
	font-size: .8em;
}
.inventory-advance-param select{
	max-width: 160px;
	margin: 1% 0 0 4%;
	width: 100%;
}
.inventory-advance-param input{
	max-width: 55px;
	width: 100%;
}
.reset-search{
	display: block;
	text-align: center;
	background-color: #D72A19;
	padding: 1% 0;
	margin: 8% 6% 0 0;
	border: 1px solid #D3D3D3;
}
.inventory-advance-param .reset-search > a{
	color: #D3D3D3;
	display: block;
	text-decoration: none;
}
.reset-search:hover{
	background-color: #D3D3D3;
}
.inventory-advance-param .reset-search > a:hover{
	color: #D72A19;
}
.inventory-hr{
	display: block;
	float: none;
	clear: both;
	width: 85%;
	background-color: #D72A19;
	border: none;
	height: 2px;
	margin: 0 auto 1%;
}
.inventory-hr-half{
	display: block;
	float: none;
	clear: both;
	width: 50%;
	background-color: #D72A19;
	border: none;
	height: 2px;
	margin: 1% 0;
}
#search-error{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	background-color: #C60101;
	color: #D3D3D3;
	text-align: center;
	border-radius: 6px;
}
#inventory-total-found{
	display: block;
	float: none;
	clear: both;
	background-color: #494D51;
	max-width: 195px;
	width: 100%;
	font-size: 100%;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	line-height: 160%;
	margin: -2% 0 2%;
}
.inventory-pager{
	display: block;
	float: left;
	overflow: hidden;
	background-color: #D72A19;
	padding: 0 5%;
	border: 1px solid #FFF;
	font-size: 110%;
	line-height: 140%;
	color: #AFB7BF;
	font-weight: bold;
	margin: 0 0 2%;
}
.inventory-pager a, #inventory-sorting a{
	color: #FFF;
}
#inventory-sorting{
	display: block;
	float: right;
	overflow: hidden;
	background-color: #D72A19;
	padding: 0 5%;
	border: 1px solid #FFF;
	font-size: 110%;
	line-height: 140%;
	color: #AFB7BF;
	font-weight: bold;
	margin: 0 0 2%;
}
#inventory-listing #inventory-content-wrapper{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 96%;
	border: 2px solid #D72A19;
	margin: 0 0 1%;
	padding: 1.8%
}
.inventory-vehicle{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	margin: 0 0 2% 0;
	padding: 0 0 1% 0;
	border-bottom: 1px solid #D72A19;
}
.inventory-vehicle:hover{
	opacity: 0.8;
}
.inventory-vehicle-left{
	display: block;
	float: left;
	overflow: hidden;
	width: 30%;
}
.inventory-vehicle-left .photo{
	display: block;
	float: none;
	clear: both;
	background-color: #FFF;
	text-align: center;
	position: relative;
}
.inventory-vehicle-left .photo a{
	display: block;
	line-height: 0;
}
.list-image{
	border: none;
	height: auto;
	max-width: 100%;
	position: relative;
	z-index: 1;
}
.marked-sold-overlay{
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 32%;
}

.inventory-vehicle-right{
	display: block;
	float: right;
	overflow: hidden;
	width: 70%;
	margin: 0;
}
.inventory-vehicle-inner-wrap{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	background-color: #414649;
	width: 100%;
	border-bottom: 2px solid #D72A19;
}
.inventory-vehicle-top{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	min-height: 18px;
	max-height: 18px;
	width: 100%;
}
.inventory-list-headline{
	display: block;
	overflow: hidden;
	width: 96%;
	padding: 0 2%;
	background-color: #D72A19;
	color: #FFF;
	font-size: 90%;
	line-height: 170%;
	text-align: center;
}
.inventory-vehicle-inner-left{
	display: block;
	float: left;
	overflow: hidden;
	width: 46%;
	padding: 1% 2% 0;
}
.inventory-vehicle-title .title-details{
	text-decoration: none;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	display: block;
	overflow: hidden;
}
.title-details > div{
	font-size: 142%;
	line-height: 140%;
	font-weight: bold;
}
.inventory-vehicle-identifier{
	color: #FFF;
	font-size: 84%;
}
.inventory-vehicle-extras{
	display: block;
	width: 100%;
	overflow: hidden;
	max-height: 16px;
	color: #FFFFFF;
	font-size: 84%;
	margin: 1% 2% 0 0;
}
.inventory-vehicle-extras > span{
	border-top: 1px solid #D72A19;
	margin: 0 10% 0 0;
}
.inventory-vehicle-inner-right{
	display: block;
	float: right;
	overflow: hidden;
	background-color: #F7F7F7;
	width: 48%;
	padding: 1% 1% 0;
}
.inventory-price-wrap{
	display: block;
	overflow: hidden;
	float: left;
	width: 60%;
}
.inventory-msrp{
	display: block;
	float: none;
	clear: both;
	font-size: 82%;
	font-style: italic;
	font-weight: bold;
	min-height: 17px;
	max-height: 17px;
}
.inventory-main-price{
	display: block;
	font-size: 100%;
	line-height: 90%;
	color: red;
	margin: 0 0 0 8%;
}
.inventory-main-price > span{
	display: block;
	margin: 0 0 0 16%;
	color: #000;
	font-weight: bold;
	font-size: 220%;
	line-height: 100%;
}
.inventory-ais-incentive-l-text{
	display: block;
	text-align: right;
	font-size: 80%;
	line-height: 100%;
	margin: 0 10% 0 0;
}
.inventory-asking-price{
	display: block;
	text-align: right;
	font-size: 84%;
	line-height: 120%;
	margin: 0 10% 0 0;
}
.inventory-ais-link{
	display: block;
	text-align: right;
	font-size: 80%;
	line-height: 120%;
	margin: 0 10% 0 0;
}
.saleclass-used .inventory-no-price.inventory-main-price{
	margin: 16% 0 0;
}
.inventory-no-price.inventory-main-price{
	font-size: 180%;
	font-weight: bold;
	text-align: center;
	color: #000;
}
.saleclass-used .inventory-asking-price.inventory-main-price{
	text-align: left;
	margin: 10% 0 0 8%;
}
.inventory-asking-price.inventory-main-price{
	text-align: left;
	margin: 0 0 0 8%;
}
.inventory-more-info{
	display: block;
	overflow: hidden;
	float: right;
	width: 40%;
}
.inventory-more-info-button{
	display: block;
	background-color: #D72A19;
	border: 1px solid #000;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 120%;
	line-height: 140%;
	width: 90%;
	margin: 25% auto 22%;
	cursor: pointer;
}
.inventory-more-info.list-form-button{
	width: 50%;
}
.inventory-more-info.list-form-button .inventory-more-info-button{
	margin: 2% 0;
	font-size: 100%;
	line-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	padding: 1% 0;
}
.inventory-more-info.list-form-button .inventory-more-info-button:hover{
	background-color: #FFF;
	color: #D72A19;
}
.inventory-more-info-button a{
	color: #FFF;
	text-decoration: none;
}
.inventory-more-info-button:hover{
	background-color: #FFF;
}
.inventory-more-info-button:hover a{
	color: #D72A19;
}
.inventory-vehicle-bottom{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 98%;
	padding: 1%;
}
.bottom-left{
    display: block;
    overflow: hidden;
    float: left;
    max-width: 310px;
    width: 52%;
    padding: 0 1%;
}
.bottom-right{
    display: block;
    overflow: hidden;
    float: right;
    max-width: 274px;
    width: 44%;
    padding: 0 1%;
}
.dealer-contact-wrapper{
	text-align: right;
	font-size: 100%;
	line-height: 100%;
	font-weight: bold;
	color: #000;
	width: 100%;
	display: block;
}
.dealer-contact-wrapper a{
    text-decoration: none;
    color: #000;
}
.dealer-contact-wrapper span{
    display: inline;
}
.inventory-listing-tags{
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
}
.inventory-listing-tags img{
    width: 100%;
    max-width: 38px;
	vertical-align: middle;
}
#inventory-detail-tags img{
    width: 100%;
    max-width: 38px;
	margin: 0 1%;
	vertical-align: middle;
}
.autocheck-list{
	display: block;
	float: right;
	overflow: hidden;
	margin: 1% 0 0;
}

/*
	Detail
*/
#inventory-top{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 98%;
	background-color: #35373A;
	padding: 1%
}
#inventory-detail-headline{
	display: block;
	float: none;
	clear: both;
	color: #FFF;
	font-size: 100%;
	text-align: center;
	background-color: #D72A19;
	margin: 0 0 1%;
}
#top-inner-wrapper{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	width: 100%;
}
#top-inner-left{
	display: block;
	overflow: hidden;
	float: left;
	width: 70%;
}
#top-vehicle-info{
	display: block;
	float: none;
	clear: both;
	width: 100%;
	color: #FFF;
	text-shadow: 1px 1px #000;
}
#top-year{
	display: block;
	font-size: 160%;
	line-height: 100%;
}
#top-make, #top-model, #top-trim{
	display: inline;
	font-size: 200%;
	line-height: 110%;
	font-weight: bold;
}
#top-dealer-info{
	display: block;
	float: none;
	clear: both;
	color: #FFF;
	text-shadow: 1px 1px #000;
	padding: 0 0 0 2%;
}
#top-inner-right{
	display: block;
	float: right;
	overflow: hidden;
	width: 22%;
}
#inventory-price-wrap .inventory-msrp{
	color: #FFF;
}
#inventory-price-wrap .inventory-main-price{
	font-size: 110%;
	text-shadow: 1px 1px #000;
	font-weight: bold
}
#inventory-price-wrap .inventory-main-price span{
	color: #FFF;
	text-shadow: 1px 1px #000;
	line-height: 120%;
}
#inventory-price-wrap .inventory-ais-incentive-l-text{
	color: #FFF;
}
#inventory-price-wrap .inventory-asking-price{
	color: #FFF;
}
#inventory-price-wrap .inventory-asking-price.inventory-main-price{
	color: #D72A19;
}
#inventory-price-wrap .inventory-no-price.inventory-main-price{
	font-size: 180%;
	font-weight: bold;
	text-align: center;
	color: #FFF;
}

#inventory-content-wrapper{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 96%;
	padding: 2%;
}
#content-inner-right{
	display: block;
	float: right;
	overflow: hidden;
	width: 60%;
	position: relative;
}
#vehicle-images{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	border: 4px solid #D72A19;
	position: relative;
	margin: 0 auto 0;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#vehicle-images > a > img{
	width: 100%;
}
#vehicle-thumbnails{
	display: block;
	float: none;
	clear: both;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 78px;
	white-space: nowrap;
	margin: 2% 0;
	background-color: #35373A;
	border: 4px solid #D72A19;
	padding: 1% 0 0;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#vehicle-thumbnails a{
	margin: 0 0 0 1%;
	padding: .5%;
	cursor: pointer;
	display: inline-block;
	*display: inline;/* For IE7*/
	*zoom: 1;/* For IE7*/
	vertical-align: top;
	line-height: 0;
	transition: inherit;
}
#vehicle-thumbnails a.cycle-pager-active{
	background-color: #D72A19;
}
#photo-tabs-buttons{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 98%;
}
.tabs-button{
	display: block;
	float: right;
	background-color: #35373A;
	color: #FFF;
	font-size: 120%;
	font-weight: bold;
	line-height: 100%;
	padding: 1%;
	margin: 0 0 0 1%;
	border-top: 4px solid #D72A19;
	border-left: 4px solid #D72A19;
	border-right: 4px solid #D72A19;
	cursor: pointer;
}
.tabs-button.active{
	background-color: #D72A19;
}
.tabs-content{
	display: none;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.tabs-content-img-video{
	border: 4px solid #D72A19;
	background-color: #35373A;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.tabs-content.active{
	display: block;
}
#inventory-video-wrapper{
	position: relative;
	height: 0px;
	width: 90%;
	padding-bottom: 68.25%;
	padding-top: 25px;
	margin: 0 auto;
}
#inventory-video-iframe{
	position: absolute;
	left: 0;
	width: 100%;
	height: 88%;
}
#video-overlay-wrapper{
    display: block;
    overflow: hidden;
    clear: both;
    float: none;
    position: relative;
    cursor: pointer;
}
#video-overlay-wrapper-dm{
    display: block;
    overflow: hidden;
    clear: both;
    float: none;
    position: relative;
    cursor: pointer;
}
#video-overlay-image{
	width: 100%;
}
#video-overlay-play-button{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 28%;
    display: block;
}
#video-overlay-wrapper:hover #video-overlay-play-button{
    background-color: #000;
    opacity: .4;
    border-radius: 4px;
}
#wp-video-shortcode-wrapper, #dm-video-wrapper{
    display: none;
}
div.wp-video-shortcode{
    height: 360px !important;
    width: 640px !important
}
.dialog-video-wrapper{
    z-index: 900;
}

#content-inner-left{
	display: block;
	float: left;
	overflow: hidden;
	width: 35%;
	margin: 3.4% 0 0 0;
}
#inventory-vehicle-info{
	display: block;
	clear: both;
	float: none;
	overflow: hidden;
	background-color: #35373A;
	border: 4px solid #D72A19;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#info-headline{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	font-size: 140%;
	line-height: 160%;
	width: 90%;
	margin: 0 auto;
	border-bottom: 2px solid #D72A19
}
.info-divider{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	color: #FFF;
	width: 80%;
	margin: 2% auto;
	border-bottom: 1px solid #D72A19;
	font-size: 90%;
}
.info-divider:last-child{
	border: none;
}
.info-divider > span{
	float: right;
	width: 60%;
	text-align: left;
	font-size: 100%;
	line-height: 150%;
	overflow: hidden;
}
#inventory-detail-tags{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin: 1% auto;
}
#inventory-detail-tags img{
	margin: 0 1%;
}
#fuel-economy-wrapper{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	background-color: #35373A;
	border: 4px solid #D72A19;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#fuel-economy-wrapper > div{
	display: block;
	float: left;
	overflow: hidden;
	width: 33.3%;
	text-align: center;
}
#fuel-economy-wrapper > div > span{
	color: #FFF;
	font-weight: bold;
	display: block;
	font-size: 120%;
}
#fuel-image img{
	margin: 10% 0 0;
	width: 40%;
}
#city-text, #highway-text{
	margin: 15% 0 0;
}
#fuel-economy-wrapper > p{
	display: block;
	clear: both;
	color: #FFF;
	width: 90%;
	margin: 0 auto 2%;
	font-size: 80%;
	text-align: center;
	line-height: 90%;
}

#content-inner-bottom{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
}
#vehicle-details-wrapper{
	margin: 2% 0;
}
#vehicle-details-tabs-buttons, #vehicle-details-tabs-content{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
#vehicle-details-tabs-buttons .tabs-button{
	float: left;
}
#vehicle-details-tabs-content{
	border: 4px solid #D72A19;
	padding: 2%;
	background-color: #35373A;
	color: #FFF;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#vehicle-detail-options ul{
	list-style: disc;
}
#vehicle-detail-options ul li{
	width: 46%;
	float: left;
	margin: 0 2%;
}
#vehicle-detail-equipment{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
.equipment_group{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	margin: 0 0 1%;
	padding: 0 0 1%;
	border-bottom: 2px solid #D72A19;
}
.equipment_group:last-child{
	border-bottom: none;
}
.equipment_group h4{
	font-size: 140%;
	line-height: 100%;
	color: #D72A19;
	padding: 0 1%;
	margin: 1% 0;
}
.equipment_list li{
	display: block;
	width: 46%;
	float: left;
	margin: 0 0 0 3%;
}
#form-button-wrapper{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	margin: 2% 0;
	text-align: center;
}
.form-button{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 1%;
	color: #fff;
	font-weight: bold;
	font-size: 130%;
	background-color: #35373A;
	border: 2px solid #D72A19;
	cursor: pointer;
	margin: 0 2% 0 0;
}
#form-data{
	display: none;
}
.form-wrap{
	z-index: 200;
}
.form-wrapper{
	display: block;
	clear: both;
	float: none;
	overflow: hidden;
	background-color: #35373A;
	border: 4px solid #D72A19;
	width: 100%;
	color: #FFF;
	padding: 0 2%;
	margin: 2% auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.vehicle-detail-form{
	display: block;
	clear: both;
	float: none;
	overflow: hidden;
	background-color: #35373A;
	width: 90%;
	color: #FFF;
	padding: 0 2%;
	margin: 2% auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#loan-calculator-error{
    display: block;
    text-align: center;
    margin: 0 0 2%;
    font-size: 110%;
}
#loan-wrapper{
	display: block;
	clear: both;
	float: none;
	overflow: hidden;
	background-color: #35373A;
	border: 4px solid #D72A19;
	color: #FFF;
	padding: 0 2%;
	margin: 4% 0;
	width: 96%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#loan-calculator-wrapper {
    display: block;
	overflow: hidden;
	clear: both;
	float: none;
	background-color: #35373A;
	border: 4px solid #D72A19;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#loan-calculator-button{
	display: block;
	float: none;
	clear: both;
	text-align: center;
	padding: 2%;
	background-color: #35373A;
	color: #FFF;
	font-size: 140%;
	font-weight: bold;
	line-height: 150%;
	cursor: pointer;
}
#loan-calculator-data{
	display: none;
}
#loan-calculator-data.active{
	display: block;
}
#loan-calculator{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	background-color: #ADADAD;
	max-width: 480px;
	width: 92%;
	padding: 4%;
}
.dialog-loan-wrapper, .dialog-ais-wrapper{
	z-index: 200;
}
.loan-value{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	margin: 2% 0;
}
.loan-value label{
	color: #000;
	font-size: 120%;
	line-height: 180%
}
.loan-value input{
	float: right;
	width: 30%;
}
.loan-payment{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 100%;
	margin: 2% 0;
}
.loan-payment label{
	display: block;
	float: left;
	width: 48%;
	text-align: center;
	font-size: 110%;
	font-weight: bold;
}
.loan-payment div{
	display: block;
	float: right;
	width: 48%;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	line-height: 120%;
}
.loan-total{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 100%;
}
.loan-total label{
	display: block;
	float: left;
	width: 48%;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}
.loan-total div{
	display: block;
	float: right;
	width: 48%;
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	line-height: 180%;
}
#loan-calculator-submit{
	display: block;
	margin: 4% 0;
	text-align: center;
}
.autocheck-detail{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	margin: 4% 0;
	text-align: center;
}
.carfax-wrapper{
	display: block;
	float: none;
	clear: both;
	text-align: center;
}
#friendly-print{
	float: right;
	cursor: pointer;
}
#geo_text{
    display: inline;
	font-weight: bold;
}
/***
Similar Vehicles
***/
#similar-vehicles-wrapper{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	background-color: #35373A;
	margin: 2% 0;
	padding: 2% 0;
	border: 4px solid #D72A19;
	color: #FFF;
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#similar-title{
	display: block;
	font-size: 160%;
	line-height: 100%;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #D72A19;
	margin: 0 0 2%;
}
#similar-items{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
.similar-item{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center;
	width: 28%;
	vertical-align: top;
	margin: 0 2.6%;
}
.similar-item a{
	text-decoration: none;
	color: #D72A19;
	font-size: 120%;
	font-weight: bold;
}
.similar-make{
	margin: 0 1%;
}
.similar-photo img{
	width: 65%;
	max-height: 102px;
}
.similar-details span{
	display: block;
}

/***
Dialog adjustments
***/
div.ui-widget-overlay{
	height: 0;
	padding-top: 100%;
}
.ui-dialog .ui-dialog-titlebar-close span{
}
div.form-wrap .gform_body .ginput_container input{
	max-width: 98%;
}
div.form-wrap .gform_body .ginput_container textarea{
	max-width: 97%;
	max-height: 100px;
}
/***
gForm
***/
.inventory-form-container{
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.list-form-wrapper{
    width: 50%;
    margin: 0 auto;
    background-color: #414649;
    border: 2px solid #D72A19
}
.list-form-wrapper div.gform_wrapper .gfield_label, .form-wrapper div.gform_wrapper .gfield_label{
    color: #fff;
    margin: 0 0 0 5%;
}
.list-form-wrapper div.gform_wrapper .ginput_container input, .form-wrapper div.gform_wrapper .ginput_container input{
    margin: 0 auto;
    display: block;
    width: 80%
}
.list-form-wrapper div.gform_wrapper .ginput_container textarea.textarea, .form-wrapper div.gform_wrapper .ginput_container textarea.textarea{
    margin: 0 auto;
    display: block;
    width: 80%;
    max-height: 80px;
}
.list-form-wrapper div.gform_wrapper .gform_button, .form-wrapper div.gform_wrapper .gform_button{
    width: 50%;
    margin: 5% auto 0;
    display: block;
}

.form-wrapper div.gform_wrapper h3.gform_title{
	text-align: center;
	font-weight: normal;
	font-size: 140%;
}

#inventory-disclaimer{
    display: block;
    float: none;
    clear: both;
    text-align: center;
}





.container-one{
    display: block;
    overflow: hidden;
    float: right;
    max-width: 550px;
    width: 100%;
}
.container-two{
    display: block;
    overflow: hidden;
    float: left;
    max-width: 280px;
    width: 100%;
}

.container-three{
    display: block;
    overflow: hidden;
    float: left;
    max-width: 280px;
    width: 100%;
}

.container-four{
    display: block;
    overflow: hidden;
    float: right;
    max-width: 550px;
    width: 100%;
}
.container-four > div{
    margin: 0 auto 1%;
    max-width: 290px;
}

.container-five{
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
}

.container-six{
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
}


