/*******************************Portrait*******************************/


/* 414x736 - i6+ */
@media (max-width: 414px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 414px !important;
	}
	div.inventory-breadcrumbs{
		display: none;
	}
	div.inventory-search, div.inventory-pager{
		float: none;
		clear: both;
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
	div#inventory-total-found{
		width: 100%;
		margin: 0  auto;
		float: none;
	}
	div#inventory-sorting-columns{
		display: none;
	}
	div.inventory-sidebar-content ul li{
		font-size: 1em;
		font-weight: bold;
		line-height: 1.6em;
	}
	div#inventory-mobile-search-wrap{
		display: block;
	}
	div#inventory-content-left{
		display: none;
		width: 45%;
		float: none;
		clear: both;
		z-index: 1;
		font-size: .8em;
	}
	div#inventory-content-right{
		width: 100%;
		float: none;
		clear: both;
		z-index: 2;
		font-size: 1em;
	}
	div#inventory-content-left.mobileview{
		position: absolute;
		top: 2.5%;
		
	}
	div#inventory-content-right.mobileview {
		overflow: hidden;
		-webkit-transform: translateX(45%);
		-moz-transform: translateX(45%);
		-o-transform: translateX(45%);
		transform: translateX(45%); 
	} 
	div.inventory-column-left{
		width: 100%;
		padding: 0;
	}
	div.inventory-main-line{
		font-size: .8em
	}
	div.inventory-column-right{
		display: none;
	}
	div.inventory-photo{
		width: 46%;
	}
	div.inventory-listing-info{
		width: 50%;
		font-size: 0.7em;
	}
	div.inventory-vehicle{
		padding: 1%;
	}
	div.inventory-ais-incentive-l-text,div.inventory-ais-incentive-s-text{
		display: none;
	}
	div.inventory-listing-buttons{
		display: none;
	}
	div.inventory-mobile-bottom{
		display: block;
	}
	div.inventory-stock-number{
		display: none;
	}
	/*List End*/
	
	/*Deatail Start*/
	div#inventory-top-price .inventory-price{
		width: 96%;
	}
	div#inventory-get-price{
		display: none;
	}
	div#inventory-content-detail-left, div#inventory-content-detail-right{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#inventory-main-headline{
		font-size: .8em;
		line-height: 1.5em;
		text-align: center;
	}
	div#inventory-sub-headline{
		font-size: .7em;
	}
	div#inventory-headline-wrap, div#inventory-top-price{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#inventory-vehicle-detail-left,div#inventory-vehicle-detail-right{
		width: 100%;
		float: none;
	}
	div#inventory-content-description-wrapper, div#inventory-content-features-wrapper{
		display: none;
	}
	a#friendly-print{
		display: none;
	}
	div#inventory-stock-vin-wrapper{
	    float: none;
	    display: block;
	    overflow: hidden;
	}
	#inventory-stock-vin-wrapper .inventory-text-bold{
	    float: left;
	    clear: left;
	}
	#inventory-stock-vin-wrapper #inventory-stock-number, #inventory-stock-vin-wrapper #inventory-vin-number {
	    float: left;
	    line-height: 1.9em;
	}
	div#inventory-fuel-headline{
		display: none;
	}
	div#vehicle-images{
		width: 72%;
	}
	div#vehicle-thumbnails{
		width: 26%;
	}
	/*Deatail End*/
}

/*375x667 - i6*/
@media (max-width: 375px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 375px !important;
	}
}

/*360x640 - s4*/
@media (max-width: 360px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 360px !important;
	}
}

/*320x568 | i5*/
@media (max-width: 320px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 320px !important;
	}
}

/*******************************Landscape*******************************/


/* 414x736 - i6+  */
@media (max-width: 736px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 736px !important;
	}
	div.inventory-search, div.inventory-pager{
		float: none;
		clear: both;
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
	div#inventory-total-found{
		width: 100%;
		margin: 0  auto;
		float: none;
	}
	div#inventory-sorting-columns{
		display: none;
	}
	div.inventory-breadcrumbs{
		display: none;
	}
	div#inventory-content-left{
		width: 26%;
		float: left;
		clear: none;
		z-index: 1;
		font-size: .8em;
	}
	div.inventory-sidebar-content h4{
		text-align: center;
	}
	div#inventory-content-right{
		width: 72%;
		float: right;
		clear: none;
		z-index: 2;
		font-size: 1em;
	}
	div.inventory-vehicle{
		padding: 0;
		width: 98%
	}
	div.inventory-column-left{
		width: 100%;
		padding: 0;
	}
	div.inventory-main-line{
		font-size: .8em
	}
	div.inventory-column-right{
		display: none;
	}
	div.inventory-photo{
		width: 46%;
	}
	div.inventory-listing-info{
		width: 50%;
		font-size: 0.7em;
	}
	div.inventory-listing-buttons{
		display: none;
	}
	div.inventory-mobile-bottom{
		display: block;
	}
	div.inventory-stock-number{
		display: none;
	}
	/*Listing End*/
	
	/*Deatail Start*/
	div#inventory-top-price .inventory-price{
		width: 96%;
	}
	div#inventory-get-price{
		display: none;
	}
	div#inventory-content-detail-left, div#inventory-content-detail-right{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#inventory-main-headline{
		font-size: .8em;
		line-height: 1.5em;
		text-align: center;
	}
	div#inventory-sub-headline{
		font-size: .7em;
	}
	div#inventory-headline-wrap, div#inventory-top-price{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#inventory-vehicle-detail-left,div#inventory-vehicle-detail-right{
		width: 100%;
		float: none;
	}
	div#inventory-content-description-wrapper, div#inventory-content-features-wrapper{
		display: none;
	}
	a#friendly-print{
		display: none;
	}
	div#inventory-stock-vin-wrapper{
	    float: none;
	    display: block;
	    overflow: hidden;
	}
	#inventory-stock-vin-wrapper .inventory-text-bold{
	    float: left;
	    clear: left;
	}
	#inventory-stock-vin-wrapper #inventory-stock-number, #inventory-stock-vin-wrapper #inventory-vin-number {
	    float: left;
	    line-height: 1.9em;
	}
	div#inventory-fuel-headline{
		display: none;
	}
	div#vehicle-images{
		width: 68%;
	}
	div#vehicle-thumbnails{
		width: 29%;
	}
	/*Deatail End*/
}

/* 375x667 - i6 */
@media (max-width: 667px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 667px !important;
	}
}

/* 360x640 - s4 */
@media (max-width: 640px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 640px !important;
	}
}

/*568x320 | i5*/
@media (max-width: 568px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 568px !important;
	}
}